<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nd.sdp.android.apf.h5">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <activity
            android:name="com.nd.smartcan.appfactory.script.webkit.WebViewActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@android:style/Theme.Translucent"
            >
        </activity>
    </application>

</manifest>
